{{ define "main" }}
  <div class="post-content" style="text-align: left">
    <h1>Javascript Notes</h1>
    <ul>
      <li><a href="https://mdumar.vercel.app/posts/higher-order-functions">Higer Order Functions</a></li>
      <li><a href="https://mdumar.vercel.app/posts/callback-functions/">Callback Functions</a></li>
      <li><a href="https://mdumar.vercel.app/posts/hoisting/">Hoisting</a></li>
      <li><a href="https://mdumar.vercel.app/posts/array-callbacks-methods/">Array Callback Methods</a></li>
    </ul>
  </div>
{{ end }}
