{{ define "main" }}
  <div class="container" style="width: 80%">
  <div class="post-content" style="text-align: left">
    <h1>Javascript Notes</h1>
      <p><a href="https://mdumar.vercel.app/posts/higher-order-functions">Higer Order Functions</a></p>
      <p><a href="https://mdumar.vercel.app/posts/callback-functions/">Callback Functions</a></p>
      <p><a href="https://mdumar.vercel.app/posts/hoisting/">Hoisting</a></p>
      <p><a href="https://mdumar.vercel.app/posts/array-callbacks-methods/">Array Callback Methods</a></p>
  </div>
  </div>
{{ end }}
